/* purgecss start ignore */
@import 'tailwindcss/base';
/* purgecss end ignore */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  background-color: #12181b;
  font-size: 20px;
} 

@media (min-width: 1024px) {
  main {
    margin-left: 70px;
  }
  .sidenav {
  min-height: 500px;
  width: 70px;
  max-width: 70px;
  padding-top: 70px;
  background: #2a2e35;
  box-shadow: rgb(1, 1, 1) 4px 0px 10px -3px;
  transition: left .3s ease;
}
}
main {
  color: #cbd5e0;
}

.sidenav .links a {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.sidenav .links a:hover,
.sidenav .links a:active,
.sidenav .links a:focus {
  box-shadow: inset 0 0 10px #12181b;
}

.sidenav .links a:hover .sidebar-icon-fill,
.sidenav .links a:active.sidebar-icon-fill,
.sidenav .links a:focus .sidebar-icon-fill {
  fill: #ed8936;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
} 

.sidenav svg {
  max-width: 100%;
}

.card {
  background-color: #2a2e35;
}